<div class="wrap">
  <div class="inner">
    <div class="form-header">
      <h2>Login</h2>
    </div>
    <form class="example-form form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="example-container">
        <mat-form-field appearance="fill" class="mat-form-field">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required class="mat-input">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"  class="mat-input">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button type="submit" class="submit">Submit</button>

    </form>
  </div>
</div>


